.wrapper
  display: flex
  flex-flow: column
  gap: 0.5rem

.rating
  display: flex
  flex-flow: row
  align-items: center
  gap: 0.2rem

.rating_number

.gold_star
  height: 0.75rem
  width: 0.75rem
  object-fit: cover
  margin-top: -0.1rem

.body
  color: var(--accent2)
