.wrapper
  display: flex
  flex-flow: column
  gap: 0.5rem

.rating
  display: flex
  flex-flow: row
  align-items: center
  gap: 0.2rem

.rating_number

.gold_star
  height: 0.75rem
  width: 0.75rem
  object-fit: cover
  margin-top: -0.1rem

.watched_on
  color: var(--accent1)
  font-size: 0.8rem

.body
  color: var(--accent3)
  font-size: 1rem
  line-height: 1.5rem
