POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL="postgres://user:password@localhost:5432/db_name"

TMDB_ACCESS_TOKEN=
TMDB_API_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
COMIC_VINE_KEY=
GOOGLE_BOOKS_API_KEY=
ANTHROPIC_API_KEY=

AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
