@use "@/app/styles/variables" as *

.wrapper
  display: flex

.poster
  width: 100%
  height: auto
  object-fit: cover
  border-radius: 0.5rem

.poster_link
  display: block

.title
  font-size: 1.3rem
  font-weight: 700
  text-align: center

.release_date
  font-size: 1rem
  font-family: $font-mono
  color: var(--accent1)

.runtime
  font-size: 1rem