@use "@/app/styles/variables" as *

.wrapper
  display: flex

.poster
  width: 100%
  height: auto
  object-fit: cover
  border-radius: 0.5rem

.title
  font-size: 1rem
  font-weight: 700
  text-align: center

.release_date
  font-size: 0.8rem
  font-family: $font-mono
  color: var(--accent1)

.runtime
  font-size: 1rem

.edit_button
  position: absolute
  right: 1rem
  background-color: #151315
  border-radius: 0.2rem