.wrapper
  background-color: rgba(25, 25, 25, 1)
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  z-index: 100

.media_preview
  max-height: 20rem
  overflow-y: scroll

.fields
  display: flex
  flex-flow: row
  gap: 2rem
  padding: 20px

.field
  display: flex
  flex-flow: column
  gap: 0.25rem

.quick_stats
  display: flex
  flex-flow: column
  align-items: flex-start
  gap: 1rem

.body
  width: 30rem
  max-height: 16rem
  overflow-y: auto
  resize: vertical


.actions
  display: flex
  flex-flow: row
  gap: 0.5rem
  padding: 0 20px 20px

.save_error
  color: #e05656
  padding: 0 20px

