.wrapper
  background-color: rgba(25, 25, 25, 1)
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  z-index: 100

.fields
  display: flex
  flex-flow: column
  gap: 0.5rem
  padding: 20px

.field
  display: flex
  flex-flow: column
  gap: 0.25rem

.quick_stats
  display: flex
  flex-flow: row
  align-items: flex-end
  gap: 1rem

.actions
  display: flex
  flex-flow: row
  gap: 0.5rem
  padding: 0 20px 20px

.save_error
  color: #e05656
  padding: 0 20px

