@use "@/app/styles/variables" as *

.tag
  position: relative
  display: inline-flex
  align-items: center
  height: 50px
  font-family: $font-sans

.image
  position: absolute
  height: 100%
  width: auto
  object-fit: contain

.name
  margin-left: 9px
  color: var(--foreground)
  font-size: 20px
  font-weight: 700
  line-height: 0.9
  letter-spacing: -0.01em
  white-space: nowrap