.image_picker
  position: relative
  display: flex
  flex-flow: column

.image_picker_error
  color: #e05656
  font-size: 0.9rem

.options
  display: flex
  flex-flow: row wrap
  gap: 0.5rem
  max-height: 20rem
  overflow-y: auto

.option
  height: 10rem
  object-fit: cover
  border-radius: 0.25rem
  cursor: pointer

.load_more
  right: 0
  bottom: 0
  padding: 0 5px
  position: absolute
