.wrapper
  width: 950px
  margin: 20px auto
  color: #ddd

.sections
  display: flex
  flex-flow: column
  gap: 10px

.section
  border: 1px solid rgba(255, 255, 255, 0.15)
  border-radius: 4px

  h2
    margin: 0
    padding: 10px 20px
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
    font-size: 1rem

.note
  padding: 20px
  opacity: 0.6
