.wrapper
  outline: 1px solid red
  //width: 150px
  //height: 250px
  padding: 10px

.poster
  flex-shrink: 0
  width: 100px

.header_info
  display: flex
  flex-flow: row
  gap: 10px

.secondary_info
  display: flex
  flex-flow: row