.wrapper
  //outline: 1px solid red
  //width: 150px
  //height: 250px
  position: relative
  padding: 20px
  display: flex
  gap: 2rem

.poster
  flex-shrink: 0
  width: 130px
.body
  display: flex
  flex-flow: column
  gap: 0.5rem

.header_info
  display: flex
  flex-flow: row
  align-items: baseline
  gap: 1rem

.secondary_info
  display: flex
  flex-flow: row