@use "@/app/styles/variables" as *

.sections
  display: flex
  flex-flow: column
  gap: 1.25rem
  margin-top: 1.25rem

.type_genre_row
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1.25rem

  @media (max-width: $mobile-breakpoint)
    grid-template-columns: 1fr

.map_layout
  display: grid
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr)
  gap: 1.5rem
  align-items: center

  @media (max-width: $mobile-breakpoint)
    grid-template-columns: 1fr

.top_countries
  display: flex
  flex-flow: column
  gap: 0.6rem

.top_countries_title
  font-size: 0.75rem
  font-weight: 600
  color: var(--accent2)
  text-transform: uppercase

.chart_row
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 1.25rem

  @media (max-width: $mobile-breakpoint)
    grid-template-columns: 1fr
