.wrapper
  width: 24rem
  max-width: 100%
  margin: 3rem auto
  display: flex
  flex-flow: column
  gap: 1.2rem

.identity
  color: var(--accent1)
  font-size: 0.9rem

.role
  color: var(--accent1)
  font-size: 0.8rem
  text-transform: uppercase
  letter-spacing: 0.03em
