@use "@/app/styles/variables" as *

.wrapper
  @include content-wrapper
  margin: 0 auto 2rem auto
  display: flex
  flex-flow: column
  gap: 1.5rem

.back_link
  color: var(--accent1)
  font-size: 0.85rem
  align-self: flex-start

.empty
  @include empty-text
